<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">  
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,300;0,400;1,200&display=swap" rel="stylesheet">
    <style>
    .overview-content {
        border-bottom: .2rem solid black;
    }

    h1, h3 {
        font-family: 'Bebas Neue';
    }

    h3 {
        font-size: 1.8rem;
    }

    p {
        font-family: 'Source Sans Pro', sans-serif;
        font-weight: 300;
    }

    .title {
        font-size: 4rem;
    }

    .sub-title {
        font-weight: bold;
    }

    .snake-img {
        width: 12rem;
        border-radius: 15px;
    }
    </style>
    <title>Snake From Africa</title>
</head>
<body>
    <h1 class="title">Snakes From Africa</h1>
    {%OVERVIEW_CARDS%}
</body>
</html>