<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">  
    <link href="../src/style.css" rel="stylesheet">
    <title>Snake From Africa</title>
</head>
<body>
    <h1 class="title">Snakes From Africa</h1>
    <div class="overview-content">
        <img src="" alt="image"><h3>Name</h3>
        <div class="place-details">
        <p>Place of origin:</p>
        </div>
        <div class="snake-details">
            <p>Snake details</p>
        </div>
        <div class="prey-details">
            <p>Prey details</p>
        </div>
        <div class="habit-details">
            <p>Snake habits</p>
        </div>
    </div>
    <script src="../app.js"></script>
</body>
</html>